# Veritabanı
*.db
todo.db

# Sanal Ortam
fastapienv/

# Python Ön Bellek Dosyaları
__pycache__/
.pytest_cache/
*.pyc

# IDE Dosyaları
.idea/
.vscode/

# Çevresel Değişkenler (Gizli Şifreler ve Ayarlar)
.env

# Log Dosyaları
*.log